:root {
  --main-font: "Inter-Variable", Arial, sans-serif;
  --accent-font: "PressStart2P", fantasy;

  --page-bg-color: #7a7a7a;
  --main-color: #000;
  --bg-color: #fff;
  --stroke-color: #fff;

  --content-width: 375px;

  --header-logo-size: 49px;
  --header-title-size: 14px;

  --font-weight-text: 400;
  --font-weight-title: 700;

  --contour-color: #000;
  --animation-fill-color: #ff0000;
  --button-text-color: #fff;
}